<ion-pane>

      <header class="game-header">
        <div class="header-back">
          <button ion-button ui-sref="home" class="float-left home-button">
            <i class="icon ion-home"></i>
          </button>
        </div>
        <div class="header-level-indicator">
          <span>{{gameVm.currentLevel}}</span>
        </div>
        <div class="header-coins-indicator">
          <span>{{gameVm.currentCoins}}</span>
        </div>
      </header>

      <div class="game-content-wrapper">
        <div class="game-content">

          <div class="content-pics-wrapper">
            <div class="content-pic" ng-repeat="image in gameVm.puzzleImages">
              <img ng-src="../img/puzzles/{{image}}.PNG" />
            </div>
          </div>

          <div class="content-sel-letters-wrapper">
            <div class="content-letter" ng-repeat="(key,value) in gameVm.selectedLetters track by $index " ng-click= "gameVm.onSelectedClick($index)">
              <span>{{value.letter}}</span>
            </div>
            <span class="icon ion-help" ng-click="gameVm.onHelpClick()"></span>
          </div>

          <div class="content-letters-wrapper">
            <div class="content-letter choosable" ng-repeat="(key,value) in gameVm.choosableLetters | limitTo:gameVm.choosableLetters.length/2 track by $index " ng-click="gameVm.onChoosableClick($index)">
              <span ng-if="value.active">{{value.letter}}</span>
            </div>
            <br/>
            <div class="content-letter choosable" ng-repeat="(key,value) in gameVm.choosableLetters | limitTo: 10 :gameVm.choosableLetters.length/2 track by $index" ng-click="gameVm.onChoosableClick(gameVm.choosableLetters.length/2  + $index)">
              <span ng-if="value.active">{{value.letter}} </span>
            </div>
          </div>
        </div>
      </div>

</ion-pane>

