<header class="game-header">
  <div class="header-back">
    <button ion-button ui-sref="home" class="float-left home-button">
      <img src="img/icons/back-btn.png" class="icon ion-home">
    </button>
  </div>
  <div class="header-hint">
    <button ion-button ng-click="vm.onHelpClick($event)"><img src="img/icons/hint-btn.png"></img></button>
  </div>
  <div class="header-level-indicator">
    <img src="img/icons/level-bg.png">
    <p>{{vm.currentLevel}}</p>
  </div>
  <div class="header-coins-indicator" ng-click="vm.onPurchaseClick($event,true)">
    <img src="img/icons/coins-icon.png">
    <p>{{vm.currentCoins}}</p>
  </div>
</header>
