<ion-view>
	<div class="main-view-wrapper level-success-popup gameover">
	 	<div class="congrats-wrapper">
	 			<span class="congrats">
	 				CONGRATS!!
	 			</span>
	 	</div>

	 	<div class="more-levels">
		 	<p>You have completed all the puzzles in this language</p>
		 	<p>Stay tuned, more puzzles coming soon!</p>
	 	</div>

	 	<div class="btn-wrapper">
	 		<button ion-button class="btn-primary" ng-click="vm.onPlayAgainClick(this, $event)">
	 			<div class="btn-base">
	 				<img src="img/icons/play-btn.png" alt="Continue">
	 			</div>
	 		</button>
	 		<span class="play-again">
	 			Play again
	 		</span>
	 	</div>
	</div>

</ion-view>
