html,body {
   height: 100%;
   width: 100%;
}
.main-view-wrapper{
  height: 100%;
  background-color: #ffffff;
  background-image: radial-gradient(circle 363px at center, #6c6392 0%, #180f3a 100%);
}
.game-header{
  position: absolute;
  top: 0;
  width: 100%;
  height: $header-height;
  z-index: 1;
  text-align: center;
}
.header-coins-indicator{
  /*height: $header-height;
  display: inline-block;
  width: $header-height;
  line-height: $header-height;
  color: white;*/
}
.header-level-indicator{
  text-align: center;
  margin: auto;
  width: 50%;
  margin-top: 12px;
  position: relative;
  height: 106%;
  p {
    position: absolute;
    width: 100%;
    top: 15%;
    left: -1%;
    color: white;
    font-weight: bold;
    font-size: 26px;
    text-shadow: 2px 2px black;
  }
  img {
    height: 90%;
  }
}
.header-coins-indicator{
  margin-top: 15px;
  width: 24%;
  position: absolute;
  top: 0;
  right: 3px;
  margin-right: 5px;
  img {
    width: 38px;
    height: 38px;
    float: left;
  }
  p {
    color: #fdb01e;
    padding-top: 6px;
    font-size: 19px;
    position: absolute;
    top: 0;
    left: 41px;
  }

}
.game-content-wrapper {
  position: absolute;
  top: 35px;
  bottom: 0;
  width: 100%;
}
.game-content{
  position: absolute;
  top: $header-height;
  bottom: 0px;
  width: 100%;
}
.content-pics-wrapper, .content-sel-letters-wrapper, .content-letters-wrapper{
  position: absolute;
  width: 100%;
}
.content-pics-wrapper{
  top: 0;
  height: $pics-section-height;
  padding: 0px 5%;
  overflow: hidden;
  text-align: center;
}
.content-pic{
    display: inline-block;
    width: 46%;
    height: 44%;
    margin: 2%;
}
.content-pic>img{
    width: 100%;
    height: 100%;
    max-width: 200px;
    max-height: 200px;
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 15px;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.5);
}
.content-letters-wrapper, .content-sel-letters-wrapper{
  text-align: center;
}
.content-sel-letters-wrapper{
  top: $pics-section-height;
  height: $sel-letters-section-height;
  padding: 0px 5%;
  .content-sel-letters-inner{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    max-width: 500px;
    margin: auto;
  }
  .ion-skip-forward {
    color: #8bf429;
    margin-left: 12px;
  }
  .content-letter{
    width: 45px;
    height: 45px;
  }
}
.content-letters-wrapper{
  top:  $pics-section-height + $sel-letters-section-height;
  height: $letters-section-height;
  .content-letter-inner{
    max-width: 260px;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}
.content-letter{
  display: inline-block;
  margin: 3px 5px;
  width: 55px;
  height: 53px;
  text-align: center;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 15px;
  border: 3px solid #fdac1b;
  span {
    font-size: 26px;
    font-family: 'lohittelugu';
    position: relative;
    top: 30%;
    transform: translateY(-50%);
  }
  &.choosable{
    background-color: #3C3C3C;
    color: white;
    box-shadow: 0px 6px 7px 0px rgba(0, 0, 0, .3), inset 0px 0px 0px 0px rgba(255,255,255,0.5), inset 0px -2px 1px 4px rgba(50,50,50,.5);
    &.inactive{
      opacity: 0.3;
      span{
        opacity: 0.5;
      }
    }
  }
  &.shake{
     box-shadow: 0 0 10px orangered;
  }
   &.affixed{
      background-color: transparent;
      box-shadow: none;
      color: white;
      box-shadow: none;
  }
}

.icon-wrap{
    display: table;
    width: 43px;
    height: 43px;
}
