html,body {
   height: 100%;
   width: 100%;
}
.main-view-wrapper{
  height: 100%;
  background-image: radial-gradient(circle 363px at center, #6c6392 0%, #180f3a 100%);
}
.game-header{
  position: absolute;
  top: 0;
  width: 100%;
  height: $header-height;
  z-index: 1;
  text-align: center;
  .header-back{
  	position: absolute;
  	left: 0;
  }
}
.header-level-indicator{
  width: 100%;
  margin-top: 12px;
  position: relative;
  z-index: -1;
  p {
    position: absolute;
    width: 100%;
    top: 15%;
    color: white;
    font-weight: bold;
    font-size: 26px;
    text-shadow: 2px 2px black;
  }
}
.header-coins-indicator{
  margin-top: 15px;
  position: absolute;
  top: 0;
  right: 0px;
  margin-right: 10px;
  img {
    width: 38px;
    height: 38px;
  }
  p {
    color: #fdb01e;
    padding-top: 6px;
    font-size: 19px;
    display: inline-block;
    position: relative;
    top: -13px;
  }

}
.game-content-wrapper {
  position: absolute;
  top: 35px;
  bottom: 0;
  width: 100%;
}
.game-content{
  position: absolute;
  top: $header-height;
  bottom: 0px;
  width: 100%;
}
.content-pics-wrapper, .content-sel-letters-wrapper, .content-letters-wrapper{
  position: absolute;
  width: 100%;
}
.content-pics-wrapper{
  top: 0;
  height: $pics-section-height;
  padding: 0px 5%;
  overflow: hidden;
  text-align: center;
  max-width: 700px;
  position: static;
  margin: auto;
}
.content-pic{
    display: inline-block;
    width: 46%;
    height: 46%;
    margin: 2%;
    max-width: 200px;
    max-height: 200px;
}
.content-pic>img{
    width: 100%;
    height: 100%;
    max-width: 200px;
    max-height: 200px;
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 15px;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.5);
}
.content-full-image {
  width: 92%;
  height: 92%;
  margin: 2%;
  img {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 15px;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.5);
  }
}
.content-letters-wrapper, .content-sel-letters-wrapper{
  text-align: center;
}
.content-sel-letters-wrapper{
  top: $pics-section-height;
  height: $sel-letters-section-height;
  padding: 0px 2%;
  .content-sel-letters-inner{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    max-width: 500px;
    margin: auto;
  }
  .ion-skip-forward {
    color: #8bf429;
    margin-left: 12px;
  }
  .content-letter{
    width: 40px;
    height: 40px;
    margin: 3px 2px;
    span{
      font-size: 17px;
    }
  }
}
.content-letters-wrapper{
  top:  $pics-section-height + $sel-letters-section-height;
  height: $letters-section-height;
  .content-letter-inner{
    max-width: 325px;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}
.content-letter{
  display: inline-block;
  margin: 3px 4px;
  width: 45px;
  height: 45px;
  text-align: center;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  border: 2px solid #fdac1b;
  position: relative;
  span {
    font-size: 19px;
    position: relative;
    display: inline-block;
  }
  &.choosable{
    background-color: #3C3C3C;
    color: white;
    &.inactive{
      opacity: 0.3;
      span{
        opacity: 0.5;
      }
    }
  }
  &.shake{
     border-color: orangered;
  }
  &.affixed{
      background-color: transparent;
      color: white;
      border: none;
  }
}

.icon-wrap{
    img {
      width: 45px;
      height: 56px;
      padding: 4px 0;
    }
}

@media (max-width: 350px) {
  .content-letters-wrapper{
    .content-letter{
      width: 40px;
      height: 40px;
      span{
        font-size:17px;
      }
    }
  }
  .content-sel-letters-wrapper{
    .content-letter{
      width: 35px;
      height: 35px;
      margin: 6px 2px;
      span{
        font-size: 14px;
      }
    }
  }
  .icon-wrap{
    img{
      width: 40px;
      height: 50px;
    }
  }
  .header-level-indicator{
    img{
      width: 130px;
    }
    p{
      top: 10%;
      font-size: 21px;
    }
  }
  .header-coins-indicator{
    img{
      width: 34px;
      height: 34px;
    }
    p{
      font-size: 17px;
    }
  }
  .home-button img{
    width: 38px !important;
    height: 38px !important;
  }
  .main-view-wrapper.english .content-sel-letters-wrapper .content-letter{
    margin: 9px 1px !important;
    width: 25px !important;
    height: 28px !important;
  }
  .content-letters-wrapper{
    top:65vh;
  }
}
