.main-view-wrapper{
	&.english{
		.content-sel-letters-wrapper{
			.content-letter {
			    width: 32px;
			    height: 32px;
			    margin: 7px 1px;
			    border-width: 1px;
			    span{
			    	font-size: 17px;
			    	font-weight: 700;
			    	color: #3c3c3c;
			    }
			    &.affixed {
			    	span{
			    		color: white;
			    	}
			    }
			}
		}
		.content-letter{
			margin: 5px 4px;
		    width: 40px;
		    height: 40px;
		    span{
		   	    font-size: 18px;
		    }
		} 


	}
	&.tamil{
		.content-letters-wrapper{
			.content-letter{
				width: 60px;
				margin: 3px 2px;
				span{
					font-size: 17px;
				}
			}
		}
		.content-sel-letters-wrapper{
			.content-letter{
				width: 53px;
				span{
					font-size: 14px;
				}
				&.affixed{
					span{
						font-size: 16px;
					}
				}
			} 
		}
	}
}

.popup-container{
	.english{
			.content-letter{
				width: 35px !important;
				height: 35px !important;
				span{
					font-size: 18px;
				}
				margin: 5px 2px;
			}
	}
	.tamil{
		.content-letter{
			width: 50px !important;
			margin:3px 3px;
			span{
				font-size: 14px;
			}
		} 
	}
}

@media (max-width: 350px) {
	.popup-container .tamil .content-letter{
	  width: 44px !important;
	  height: 40px !important;
	  span{
	    font-size: 13px;
	  }
	}
}