.level-success-popup{
	.popup{
  		background-image: radial-gradient(circle 363px at center, #6c6392 0%, #180f3a 100%);
	    width:100% !important;
	    height: 100% !important;
	    max-height: 100% !important;
	}
	.popup-head{
		display: none;
	}
	.popup-body{
		text-align: center;
	    height: 100%;
	    padding: 0;
	    .congrats-wrapper{
	    	width: 100%;
		    position: absolute;
		    top: 15%;
		    text-align: center;
		    height: 65px;
		    box-shadow: -1px 4px 7px #febd27, -1px -4px 7px #febd27;
		    background-color: #febd27;
	    }
	    .congrats{
		    color: white;
    		font-size: 40px;
    		position: relative;
		    top: 35%;
		    transform: translateY(-50%);
		    color: #322955;
		    font-family: Helvetica;
    		font-weight: 700;
	    }
	    .btn-wrapper{
	    	position: absolute;
		    top: 75%;
		    width: 100%;

		    .continue{
		    	display: block;
			    font-size: 28px;
			    margin-top: 10px;
			    color: white;
			    letter-spacing: 1px;
			    font-weight: bold;
		    }
	    }
	    .points-wrapper{
	    	position: absolute;
		    width: 100%;
		    top: 50%;
		    img{
		    	display: block;
    			margin: auto;
		    }
		    .coins{
		    	display: block;
			    font-size: 25px;
			    position: relative;
			    margin-left: 20px;
			    top: -40px;
			    color: white;
			    font-weight: bold;
		    }
	    }
	    .solution-wrapper{
	    	position: absolute;
		    top: 35%;
		    width: 100%;
		    .content-letter{
		    	width: 45px;
		    	height: 45px;
		    	border-color: #9FCC2E;
		    }
	    }
	}
	.popup-buttons{
		display: none
	}
}

.confirmation-popup{
	background-color: rgba(0,0,0,0.7) !important;
	.popup{
		background-image: linear-gradient(203deg, #180f3a 0%, #6c6392 100%);
		border-radius: 25px !important;
		border: 6px #8970e6 solid;
        padding: 15px;
        width: 100% !important;
    	max-width: 330px !important;
    	text-align: center;
	}
	.popup-head{
		display: none;
	}
	.popup-text{
		text-shadow: 0 0 3px #180f3a;
		font-size: 19px;
		font-weight: 700;
		line-height: 28px;
		color: #fefeff;
	}
	.popup-buttons{
		box-shadow: 0 2px 0 1px rgba(0, 0, 0, 0.15);
	    background-color: #ffffff;
	    border-radius: 30px;
	    padding: 3px;
	    min-height: 50px;
	    width: 90%;
    	margin: 0 5%;
    	margin-top: 25px;
	    button{
		    min-height: 10px;
		    text-shadow: 0 1px 4px black;
		    color: #ffffff;
		    font-size: 20px;
		    font-weight: 700;
	    }
	    button:nth-of-type(1){
	    	border-radius: 30px 6px 6px 30px;
	    	background-color: #cccccc;
    		box-shadow: 0 2px 4px rgba(151, 144, 144, 0.75), inset 0 -1px 2px 1px #767575;
    		&.activated{
    			background-color: #a6a6a6;
    		}
	    }
	    button:nth-of-type(2){
	    	border-radius: 6px 30px 30px 6px;
		    background-color: #febd27;
		    box-shadow: 0 2px 4px rgba(194, 128, 23, 0.75), inset 0 -1px 2px 1px #b46100;
	    	&.activated{
	    		background-color: #e4a001;
	    	}
	    }

	}
	.close-popup{
		position: absolute;
	    top: -20px;
	    right: -20px;
	}
}