/*To change CSS, make changes to style.scss in scss folder */

/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

@import "_constants";
@import "_game";
@import "_home";
@import "_popup";
@import "_language";

button{
    background: none;
    border: none;
    padding: 0
}
.float-left {
  float: left;
}
.float-right {
 float: right;
}
.home-button {
  font-size: 28px;
  color: white;
  background: none;
  border: none;
  img {
    width: 40px;
    margin-top: 17px;
    margin-left: 5px;
  }
}
.gameover{
  .more-levels{
    text-align: center;
    position: absolute;
    top: 30%;
    width: 100%;
      p {
          display: block;
          font-size: 26px;
          color: white;
          font-weight: bold;
          line-height: 27px;
          margin-bottom: 40px;
      }   
  }
  .btn-wrapper{
    position: absolute;
    top: 65%;
    width: 100%;
    text-align: center;
    .play-again{
      display: block;
      font-size: 28px;
      color: white;
      letter-spacing: 1px;
      font-weight: bold;
    }
  }
}
.shrink{
  img{
    transform: scale(0.9);
  }
}
// Include all of Ionic
@import "ionic/ionic.scss";

