<div ng-init=vm.animateCoins() ng-class="vm.currentLanguage">
	<div class="congrats-wrapper">
		<p class="congrats">
			GOOD JOB!
		</p>
    <p class="level-marker">Level {{vm.currentLevel}} of 75</p>
	</div>
	<div class="solution-wrapper">
			<button ion-button class="content-letter" ng-repeat="(key,value) in ::vm.selectedLetters track by $index ">
	            <span>{{::value.letter}}</span>
	         </button>
	</div>
	<div class="points-wrapper">
		<span>
			<img src="img/icons/points.png">
			<span class="coins" id="coins">{{vm.currentCoins}}</span>
		</span>
	</div>
	<div class="btn-wrapper">
		<button ion-button class="btn-primary" ng-click="onContinueClick(this, $event)">
			<div class="btn-base">
				<img src="img/icons/play-btn.png" alt="Continue">
			</div>
		</button>
		<span class="continue">
			Continue
		</span>
	</div>
</div>
