<div>
	<span class="choose">Buy Coins</span>
	<div class ="purchase-wrapper">
		<div class="purchase-bundles" ng-hide="vm.cannotPurchase">
			<div class="bundle-wrap">
				<img src="img/icons/coins-icon.png"/> 
				<span class="price">{{rewardCoins}}</span>
				<button ion-button class="buy video"  ng-click="rewardVideo($event)" >Watch Video</button>
			</div>
			<div ng-repeat="product in vm.products" class="bundle-wrap">
			  <img src="img/icons/coins-icon.png"/> 
			  <span class="price">{{product.title}}</span>
			  <span class="no-ads"> + No Ads</span> 
			  <button ion-button class="buy" ng-click="buyProduct($event, product.productId)" > {{product.price}}</button>
			</div>
		</div>
		<div class="loader-wrap" ng-hide="vm.loadingOver">
			<div class="loader"></div>
		</div>
		<div ng-show="vm.cannotPurchase" class="cannot-purchase">Cannot make a purchase now, please try again later</div>
		<img ng-show="vm.gotReward" class="got-reward-img" src="img/icons/coins-icon.png" />
		<div ng-show="vm.gotReward" class="got-reward" id="reward">
			<div>{{rewardCoins}}</div>
		</div> 
	</div>
	<img class="close-popup" src="img/icons/popup-close.png" ng-click="closeConfirm()" />
</div>

